<div class="row">
    <div class="col-12">
        <h6>Tới</h6>
        <div class="p-d-flex p-ai-center">
            <p-chip [label]="item" *ngFor="let item of mailDetail?.tos" styleClass="mr-2"></p-chip>
        </div>
    </div>
    <div class="col-12 mt-3">
        <h6>CC</h6>
        <div class="p-d-flex p-ai-center">
            <p-chip [label]="item" *ngFor="let item of mailDetail?.ccs" styleClass="mr-2"></p-chip>
        </div>
    </div>
    <div class="col-12 mt-3">
        <h6>Ngày gửi</h6>
        <div class="p-d-flex p-ai-center">
            {{mailDetail?.createdAt | date : 'hh:mm dd/mm/yyyy'}}
        </div>
    </div>
    <div class="col-12 mt-3">
        <h6>Nội dung thư</h6>
        <div class="p-d-flex p-ai-center" style="max-height: 250px;">
            <iframe title="Nội dung thư" [srcdoc]="mailDetail?.body" width="100%" height="100%">
            </iframe>
        </div>
    </div>
</div>