form {
    h5 {
        padding: 5px;
        font-size: 16px;
        font-weight: 700px !important;
    }

    .form-control {
        &:focus {
            box-shadow: none;
            border: 1px solid rgb(55, 121, 235);
        }

        font-size: 14px !important;
    }

    textarea {
        border: 1px solid #ced4da;

        &:focus {
            box-shadow: none;
            outline: none;
            border: 1px solid rgb(55, 121, 235);
        }
    }

    .group-description {
        .group-text {
            width: 350px !important;
            line-height: 35px;
        }

        .item-group {
            padding: 10px;

            .custom-calendar {
                width: 100%;
                font-size: 14px !important;

                .p-inputtext {
                    font-size: 14px !important;
                }
            }
        }

        .custom-select {
            font-size: 14px;
            padding: 0.375rem 0.75rem !important;

            &:focus {
                box-shadow: none;
                outline: none;
                border: 1px solid rgb(55, 121, 235);
            }
        }

        .recommentNameProduct {
            background-color: var(--color-white);
            border: 1px solid #ced4da;
            position: absolute;
            z-index: 3;
            width: 100%;

            ul {
                padding-left: 0px;
                list-style-type: none;
                max-height: 200px;
                overflow: auto;

                li {
                    padding: 10px;

                    &:hover {
                        background-color: #e6eaed;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .content-discussion {
        .group-persion-comment {
            border-bottom: 1px dotted #212925;
        }

        // &:active::-webkit-scrollbar-thumb,
        // &:focus::-webkit-scrollbar-thumb,
        // &:hover::-webkit-scrollbar-thumb {
        //     visibility: visible;
        // }

        // &::-webkit-scrollbar-thumb {
        //     visibility: hidden;
        // }
        &::-webkit-scrollbar {
            width: 10px !important;
            height: 10px !important;
        }
    }

    #addMail {
        &:hover {
            cursor: pointer;
        }
    }

    .ng-select {
        width: 100%;
        height: 35px;

        .ng-select-container {
            min-height: 35px !important;
        }
    }

    .ng-select.ng-select-single {
        .ng-select-container {
            min-height: 35px;
        }
    }

    //cussom select status


    &:active::-webkit-scrollbar-thumb,
    &:focus::-webkit-scrollbar-thumb,
    &:hover::-webkit-scrollbar-thumb {
        visibility: visible;
    }

    &::-webkit-scrollbar-thumb {
        visibility: hidden;
    }

    .detail-cl {
        background-color: white;
        padding: 10px;
    }

    //
}

.filter {
    border: 1px solid #212529;
}

:host ::ng-deep .ck-editor__editable_inline {
    height: 165px !important;
    max-width: calc(100vw - 332px);
    min-width: 100%;

    p {
        margin: 0 !important;
    }
}