

<div class="ftms-footer d-flex justify-content-between">
  <div class="d-flex">
      <div class="ftms-footer-version px-3 ">FTMS DX-Request - v1.0</div>
      <div class="ftms-footer-border-left" id="ftms-border-left"><b>|</b></div>
      <div class="ftms-center" id="ftms-center">
          Phát hành bởi trung tâm hệ thống thông tin ISC.
      </div>
  </div>
  <div class="ftms-contact" id="ftms-contact">
      Thông tin hỗ trợ: quannt36@fpt.com.vn <b>|</b> Điện thoại: 0372112900
  </div>
</div>